.goal-content {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
    margin: auto;
    padding-bottom: 60px;
    height: 620px;
    justify-content: center;
}

.goal-body {
    background-color: rgb(134, 160, 247);
    left: 0px;
    right: 0px;
    width: 100%;
}

.goal-header {
    font-size: 60px;
}

.goal {
    line-height: 1.6em;
    font-size: 20px;
}