body {
    font-family: Arial;
    margin: 0;
}

.header {
    margin: 0px;
    top: 0px;
    left: 8px;
    right: 8px;

    height: 80px;
    position: absolute;
}

.intro-body {
    margin: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    max-height: 620px;
    padding-bottom: 150px;
    background: rgba(30, 57, 114, 0.644);
    overflow: hidden;
    z-index: 20;
}

.intro-content {
    padding-top: 100px;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    margin: auto;
    z-index: 50;

}

.big-name {
    margin-top: 45px;
    font-size: 60px;
    color: white;
}

.intro {
    line-height: 1.6em;
    color: white;
}

.button-list {
    right: 60px;
    display: flex;
    position: absolute;
    z-index: 25;
}

.button-head {
    padding: 28px;
    margin-top: 0px;
    font-size: 17px;
    color: white;

    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.button-head:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.button-head:active {
    text-decoration: underline;
}

.zriot {
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

@media (min-width: 1621px)
{
    .zriot {
        width: 100%;
        transform: translate(0%, 0%);
    }
}

@media (max-width: 1000px)
{
    .zriot {
        transform: translate(-20%);
    }
}

@media (max-width: 400px)
{
    .zriot {
        height: 100%;
        transform: translate(-50%);
    }
}